<div class="container text-center">
  <%= image_tag @room.image_name, size: :auto %>
  <h3 class="text-center">
    <%= @room.name %>
  </h3>
  <div>
    <div class="mb-2">メッセージ1</div>
    <div class="mb-2">メッセージ2</div>
    <div class="mb-2">メッセージ3</div>
  </div>
</div>
